
body{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: url('/files/assets/360_F_439133763_FrLdhZsd5aGC23r9ATARuKJBr8ifZjIe.jpg'); /* Replace with your image URL */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Contain the image within the container */
    background-attachment: fixed; 
    background-color:rgb(22, 36, 65);
   

}
.image{
    background-image: url('/files/assets/360_F_439133763_FrLdhZsd5aGC23r9ATARuKJBr8ifZjIe.jpg'); /* Replace with your image URL */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Contain the image within the container */
    background-attachment: fixed; 
    background-color:rgb(22, 36, 65);
    width: 100%;
    height: 100%;
    padding: 20%;
}

h1{
    color: blue;
    color: white;
    
}
.container-start{
   
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px 30px 10px 30px;
width: 20%;
height: 30%;
margin-top: 215px;
}
.container-start h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 4px;
    background-color: #48dbfb;
background-image: linear-gradient(315deg, #48dbfb 0%, #d3d3d3 74%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container-start p{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container-start .start-button{
    height: 36px;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #48dbfb;
background-image: linear-gradient(315deg, #48dbfb 0%, #d3d3d3 74%);

    border-style: none;
    margin-top: 10px;
    background-color: rgb(124, 17, 126);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

